<h1>Please Register/Login here!</h1>
<p>...And figure out your optimal future salary...</p>
<p>...Based on your experience...</p>
<p>...And the company that headhunts you!...</p>
<a href="/auth/google">
    <button type="button">Login With google</button>
</a>